# Q1. Write a Python Script to create a tuple of n intergers and print the largest and smallest interger in the tuple

In [28]:
t = (2,4,6,5,3,4,5,45,3,346,7,567,435,345,345,657,7,687)
minInt = min(t)
maxInt = max(t)
print(minInt)
print(maxInt)

2
687

# Q2. Write a Python script to create a tuple of n interger and print the sum of all interger in the tuple

In [24]:
t = (2,3,6,4,3,4,5,77,8,456,5,4,54,25,5355)

# we can use loop Method Also 
print("Loop Method : ")
sum = 0 
for i in range(0,len(t)):
    sum = sum + t[i]
print(sum)

Loop Method :
6011

# Q3. Write a python script to unpack the tuple into Three Variable

In [31]:
t = (2,8,6)
a,b,c = t
print(a,b,c,sep="\n")

# Second method : 
print("Second meth0od ")
a = t[0]
b = t[1]
c = t[2]
print(a ,b , c , sep="\n" )

2
8
6
Second meth0od
2
8
6

# Q4. Write a python script to copy specific element from one tuple to a new tuple

In [11]:
t = (10,20,30,40,50,60,70,80,90,100)
start = int(input("Choose the starting index : "))
end = int(input("Choose the Ending Index : "))
new_tup = t[start:end+1]
print(f"Original Tuple : {t}")
print(f"New Tuple : {new_tup}")

Choose the starting index :  2
Choose the Ending Index :  7

Original Tuple : (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
New Tuple : (30, 40, 50, 60, 70, 80)